#!/usr/bin/env zsh

# {{ if lookPath "zsh" }}
# {{ lookPath "zsh" }}: {{ include (lookPath "zsh") | sha256sum }}

autoload -Uz zrecompile

{{- $scripts := glob (joinPath .xdg.config "zsh/{*.zsh,{plugins,vendor}/**/*.zsh}") }}

# script hashes:
{{ range $scripts -}}
# {{ . }}: {{ include . | sha256sum }}
{{ end -}}

zrecompile -p \
    {{ range $scripts }}-M {{ . }} -- {{ end }}

# {{ end }}
