# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if lookPath "carapace" -}}
#!/usr/bin/env bash

# Carapace-bridges hash: {{ include "dot_config/carapace/bridges.yaml" | sha256sum }}
carapace --clear-cache
# {{ end -}}
