# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if .wsl -}}
fish_add_path --path --prepend "$HOME/.local/bin"

# Remove unwanted PATH entries
begin
    string match -i "/mnt/c/Users/*/scoop/apps/mise/current/mise/shims" $PATH
    begin
        string match /bin $PATH
        string match /sbin $PATH
    end | path filter --type=link
end | while read -l match
    set -l index (contains -i -- $match $PATH)
    set -e PATH[$index]
end

# Set environment variables
# Will eventually be redone to utilize universal variables
set -gx ANSIBLE_CONFIG $XDG_CONFIG_HOME/ansible.cfg
set -gx ANSIBLE_HOME $XDG_CONFIG_HOME/ansible
set -gx ZDOTDIR $XDG_CONFIG_HOME/zsh
# {{ end -}}
