#compdef {{ .settings.shell.zsh.compsys.unreachable | sortAlpha | compact | join " " }}
# This should never actually be reached in completion
_message "This program may not be installed properly, or be a part of zsh"
