{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

[data.xdg]
{{ if eq .chezmoi.os "linux" }}
config = "{{ .chezmoi.homeDir }}/.config"
cache = "{{ .chezmoi.homeDir }}/.cache"
data = "{{ .chezmoi.homeDir }}/.local/share"
state = '{{ .chezmoi.homeDir }}/.local/state'
{{ else if eq .chezmoi.os "darwin" }}
config = "{{ .chezmoi.homeDir }}/.config"
cache = "{{ .chezmoi.homeDir }}/Library/Caches"
data = "{{ .chezmoi.homeDir }}/Library/Application Support"
# I have no idea what to set this to on macOS
state = "{{ .chezmoi.homeDir }}/.local/state"
{{ end }}

[data.pkg.scoop]
apps = "{{ .chezmoi.homeDir }}/scoop/apps"
persist = "{{ .chezmoi.homeDir }}/scoop/persist"

[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]

[data.device]
# can be "laptop", "desktop", "convertible", "server", "tablet", "handset", "watch", "embedded", "vm", or "container"
chassis = "{{ $chassisType }}"

[diff]
command = "delta"

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]
