root = true

[*.{bash,sh}{,.tmpl}]
end_of_line = lf

[*.desktop{,.tmpl}]
end_of_line = lf

[*.elv{,.tmpl}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.fish{,.tmpl}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf

[*.json{,.tmpl}]
end_of_line = lf

[*.lua]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf

[*.md]
indent_style = space
indent_size = 2
end_of_line = lf

[*.nu{,.tmpl}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.plist{,.tmpl}]
end_of_line = lf

[*.toml{,.tmpl}]
indent_style = space
indent_size = 2
end_of_line = lf

[*.vim]
end_of_line = lf

[*.xsh{,.tmpl}]
end_of_line = lf

[*.{yaml,yml}{,.tmpl}]
end_of_line = lf

[*.zsh{,.tmpl}]
end_of_line = lf
