# current machine's name, optional; it can be used to filter settings or in the commit message
hostname: '{{ .devicename }}'
# more details at https://github.com/zokugun/vscode-sync-settings/blob/master/docs/hostname.md

# selected profile, required
profile: main
repository:
  type: git
  url: git@github.com:BurnerWah/vscodium-settings.git
  branch: main
