# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- $fishAtLeast4 := false -}}
# {{- if has .osid (list "darwin" "linux-arch") -}}
# {{-   $fishAtLeast4 = true -}}
# {{- else if eq .osid "linux-fedora" -}}
# {{-   $fishAtLeast4 = gt (atoi .chezmoi.osRelease.versionID) 41 -}}
# {{- else if eq .osid "linux-ubuntu" -}}
# {{-   $fishAtLeast4 = stat "/usr/share/fish/functions/__fish_cache_sourced_completions.fish" -}}
# {{- end -}}
# {{- if not $fishAtLeast4 -}}
# Backwards compatibility for fish 3.x
if [ -r $__fish_data_dir/functions/__fish_cache_sourced_completions.fish ]
    # @fish-lsp-disable-next-line 1004
    source $__fish_data_dir/functions/__fish_cache_sourced_completions.fish
else
    # Minimal version of __fish_cache_sourced_completions without caching
    function __fish_cache_sourced_completions
        # strip --name
        argparse -s name= -- $argv
        or return

        set -q argv[1]
        or return 1

        command -qs $argv[1]
        or return 127

        $argv | source
    end
end
# {{ end -}}
