# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "blkid") (lookPath "grc") -}}
function blkid
    set -l cmd blkid
    if isatty stdout
        command -qs grc && set -p cmd grc
    end
    command $cmd $argv
end
# {{ end -}}
