# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if eq .chezmoi.os "darwin" -}}
function clion --wraps=/Applications/CLion.app/Contents/MacOS/clion --description 'alias clion=/Applications/CLion.app/Contents/MacOS/clion'
    /Applications/CLion.app/Contents/MacOS/clion $argv
end
# {{ end -}}
