# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "clion" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function clion
    if command -q clion
        command clion $argv
    else
        "# {{ lookPath "clion" }}" $argv
    end
end
# {{ end -}}
