# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- /* VSCode Remote Development interferes with lookPath a bit */ -}}
# {{- if and .device.wsl (lookPath "code") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function code
    if command -q code
        command code $argv
        # @fish-lsp-disable-next-line 3002
    else if set -l code (path filter -x $PATH/code)[1]
        "$code" $argv
    end
end
# {{ end -}}
