# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "dataspell" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function dataspell
    if command -q dataspell
        command dataspell $argv
    else
        "# {{ lookPath "dataspell" }}" $argv
    end
end
# {{ else if eq .chezmoi.os "darwin" -}}
function dataspell --wraps=/Applications/DataSpell.app/Contents/MacOS/dataspell --description 'alias dataspell=/Applications/DataSpell.app/Contents/MacOS/dataspell'
    /Applications/DataSpell.app/Contents/MacOS/dataspell $argv
end
# {{ end -}}
