# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if eq .chezmoi.os "darwin" -}}
function datagrip --wraps=/Applications/DataGrip.app/Contents/MacOS/datagrip --description 'alias datagrip=/Applications/DataGrip.app/Contents/MacOS/datagrip'
    /Applications/DataGrip.app/Contents/MacOS/datagrip $argv
end
# {{ end -}}
