# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "datagrip" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function datagrip
    if command -q datagrip
        command datagrip $argv
    else
        "# {{ lookPath "datagrip" }}" $argv
    end
end
# {{ end -}}
