# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if or (lookPath "eza") (lookPath "exa") -}}
# Exa is outdated, use eza
if command -q eza
    function exa --wraps=eza --description 'alias exa eza'
        eza $argv
    end
else if command -q exa
    function exa
        set -l param --color=auto --color-scale
        isatty stdout && set -a param --classify
        command exa $param $argv
    end
end
# {{ end -}}
