# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if or (lookPath "eza") (lookPath "exa") -}}
# Exa is outdated, use eza
function exa -w eza -d 'alias exa eza'
    if command -q eza
        eza $argv
    else if command -q exa
        set -l param --color=auto --color-scale
        if isatty stdout
            set -a param --classify
        end
        command exa $param $argv
    else
        fish_command_not_found eza
    end
end
# {{ end -}}
