# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if lookPath "eza" -}}
if command -q eza
    function eza
        command eza \
            --color=auto \
            --color-scale=size \
            --classify \
            --time-style=relative \
            $argv
    end
end
# {{ end -}}
