# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "getfacl") (lookPath "grc") -}}
function getfacl
    if isatty stdout; and command -q grc
        grc getfacl $argv
    else
        command getfacl $argv
    end
end
# {{ end -}}
