# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "getsebool") (lookPath "grc") -}}
function getsebool
    if isatty stdout && command -q grc
        grc getsebool $argv
    else
        command getsebool $argv
    end
end
# {{ end -}}
