# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "getsebool") (lookPath "grc") -}}
function getsebool --wraps=getsebool
    if isatty stdout; and command -q grc
        command grc getsebool $argv
    else
        command getsebool $argv
    end
end
# {{ end -}}
