# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "goland" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function goland
    if command -q goland
        command goland $argv
    else
        "# {{ lookPath "goland" }}" $argv
    end
end
# {{ else if eq .chezmoi.os "darwin" -}}
function goland --wraps=/Applications/GoLand.app/Contents/MacOS/goland --description 'alias goland=/Applications/GoLand.app/Contents/MacOS/goland'
    /Applications/GoLand.app/Contents/MacOS/goland $argv
end
# {{ end -}}
