# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if eq .chezmoi.os "darwin" -}}
function goland --wraps=/Applications/GoLand.app/Contents/MacOS/goland --description 'alias goland=/Applications/GoLand.app/Contents/MacOS/goland'
    /Applications/GoLand.app/Contents/MacOS/goland $argv
end
# {{ end -}}
