# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "idea" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function idea
    if command -q idea
        command idea $argv
    else
        "# {{ lookPath "idea" }}" $argv
    end
end
# {{ end -}}
