# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "iptables") (lookPath "grc") -}}
function iptables
    if isatty stdout; and command -q grc
        grc iptables $argv
    else
        command iptables $argv
    end
end
# {{ end -}}
