# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "lsblk") (lookPath "grc") -}}
function lsblk
    if isatty stdout; and command -q grc
        command grc lsblk $argv
    else
        command lsblk $argv
    end
end
# {{ end -}}
