# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if lookPath "ncdu" -}}
# makes ncdu(1) use colors and SI units
function ncdu -w 'ncdu --si --color dark' -d 'alias ncdu ncdu --si --color dark'
    command ncdu --si --color dark $argv
end
# {{ end -}}
