# chezmoi:template:left-delimiter='{{ right-delimiter=}}'
function _abbrev_managed_subcommands -d "Generated function for subcommand abbreviations"
    set -l tokens (commandline -xpc)
    # Workaround for `commandline -c` missing tokens when we press enter
    set -l ctoken (commandline -xpt)
    if test -n "$ctoken"
        set -a tokens $ctoken
    end
    set -l tokenCount (count $tokens)

    # debug helper
    if set -q _abbrev_subcommand_debug
        echo "tokens: '$tokens'" >/dev/stderr
        echo "tokenCount: '$tokenCount'" >/dev/stderr
        echo "argv: '$argv'" >/dev/stderr
    end

    # asserts that match and last token are the same
    if test "$argv" != "$tokens[$tokenCount]"
        return 124
    end

    # This is implemented in a way that attempts o minimze file sizes, since
    # the function is massive otherwise. It probably could be tweaked to not
    # use nested switch statements and have cases be so long.
    # $tokens[1] matches the command
    # $tokenCount verifies that the position is correct
    # $tokens[2..] is what we're matching
    switch "$tokens[1]:$tokenCount:$tokens[2..]"
        case '{{- range $cmd, $subcmds := .settings.shell.fish.subcommand_abbrevs }}'
            '{{- range $subcmd, $expansion := $subcmds }}'
            '{{-   if kindIs "string" $expansion }}'
        case '{{ $cmd }}':2:'{{ $subcmd }}' '{{- "; " -}}'
            echo '{{ $expansion }}'
            '{{-   else if kindIs "map" $expansion }}'
            '{{-     range $subcmd_2, $expansion_2 := $expansion }}'
            '{{-       if kindIs "string" $expansion_2 }}'
        case '{{ $cmd }}':3:'{{ printf "%s %s" $subcmd $subcmd_2 | squote }}' '{{- "; " -}}'
            echo '{{ $expansion_2 }}'
            '{{-       else if kindIs "map" $expansion_2 }}'
            '{{-         range $subcmd_3, $expansion_3 := $expansion_2 }}'
        case '{{ $cmd }}':4:'{{ printf "%s %s %s" $subcmd $subcmd_2 $subcmd_3 | squote }}' '{{- "; " -}}'
            echo '{{ $expansion_3 }}'
            '{{-         end }}'
            '{{-       end }}'
            '{{-     end }}'
            '{{-   end }}'
            '{{- end }}'
            '{{- end }}'
        case '*' '{{- "; " -}}'
            return 124
    end
end
