# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "rider" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function rider
    if command -q rider
        command rider $argv
    else
        "# {{ lookPath "rider" }}" $argv
    end
end
# {{ else if eq .chezmoi.os "darwin" -}}
function rider --wraps=/Applications/Rider.app/Contents/MacOS/rider --description 'alias rider=/Applications/Rider.app/Contents/MacOS/rider'
    /Applications/Rider.app/Contents/MacOS/rider $argv
end
# {{ end -}}
