# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "rubymine" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function rubymine
    if command -q rubymine
        command rubymine $argv
    else
        "# {{ lookPath "rubymine" }}" $argv
    end
end
# {{ end -}}
