# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "rubymine" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function rubymine
    if command -q rubymine
        command rubymine $argv
    else
        "# {{ lookPath "rubymine" }}" $argv
    end
end
# {{ else if eq .chezmoi.os "darwin" -}}
function rubymine --wraps=/Applications/RubyMine.app/Contents/MacOS/rubymine --description 'alias rubymine=/Applications/RubyMine.app/Contents/MacOS/rubymine'
    /Applications/RubyMine.app/Contents/MacOS/rubymine $argv
end
# {{ end -}}
