# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if eq .chezmoi.os "darwin" -}}
function rubymine --wraps=/Applications/RubyMine.app/Contents/MacOS/rubymine --description 'alias rubymine=/Applications/RubyMine.app/Contents/MacOS/rubymine'
    /Applications/RubyMine.app/Contents/MacOS/rubymine $argv
end
# {{ end -}}
