# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "rustrover" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function rustrover
    if command -q rustrover
        command rustrover $argv
    else
        "# {{ lookPath "rustrover" }}" $argv
    end
end
# {{ end -}}
