# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "sad") (lookPath "delta") -}}
function sad -w "sad --pager=delta"
    command sad --pager=delta $argv
end
# {{ end -}}
