# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if lookPath "sar" -}}
# Makes sar(1) easier to read
function sar
    isatty stdout && set -p argv -h
    command sar $argv
end
# {{- end -}}
