# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (lookPath "ss") (lookPath "grc") -}}
function ss -d "Utility to investigate sockets"
    if isatty stdout && command -q grc
        grc ss $argv
    else
        command ss $argv
    end
end
# {{ end -}}
