# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (eq .chezmoi.os "linux") (lookPath "grc") -}}
function stat
    if isatty stdout; and command -q grc
        grc stat $argv
    else
        command stat $argv
    end
end
# {{ else if and (eq .chezmoi.os "darwin") (lookPath "ustat") (lookPath "grc") -}}
function stat
    if isatty stdout
        grc -c conf.stat uu-stat $argv
    else
        command stat $argv
    end
end
# {{ else -}}
function stat
    command stat $argv
end
# {{ end -}}
