# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if and (eq .chezmoi.os "linux") (lookPath "grc") -}}
function stat
    if isatty stdout; and command -q grc
        grc stat $argv
    else
        command stat $argv
    end
end
# {{ else if and (eq .chezmoi.os "darwin") (lookPath "grc") -}}
function stat
    if isatty stdout; and command -q grc
        if command -q uu-stat
            grc -c conf.stat uu-stat $argv
        else if command -q gstat
            grc -c conf.stat gstat $argv
        else
            grc stat $argv
        end
    else
        command stat $argv
    end
end
# {{ else -}}
function stat
    command stat $argv
end
# {{ end -}}
