# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if lookPath "viu" -}}
if command -q viu
    function viu --wraps=viu
        if [ "$TERM_PROGRAM" = vscode ]
            set -fx TERM_PROGRAM vscode+iTerm
        end
        command viu $argv
    end
end
# {{ end -}}
