# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if and .device.wsl (lookPath "webstorm" | hasPrefix "/mnt/c/") -}}
# Temporary workaround for https://github.com/fish-shell/fish-shell/issues/11354
function webstorm
    if command -q webstorm
        command webstorm $argv
    else
        "# {{ lookPath "webstorm" }}" $argv
    end
end
# {{ end -}}
