# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
minimumLimaVersion: '1.0.2'

images:
  - location: 'https://download.fedoraproject.org/pub/fedora/linux/releases/41/Cloud/x86_64/images/Fedora-Cloud-Base-Generic-41-1.4.x86_64.qcow2'
    arch: 'x86_64'
    digest: 'sha256:6205ae0c524b4d1816dbd3573ce29b5c44ed26c9fbc874fbe48c41c89dd0bac2'
  - location: 'https://download.fedoraproject.org/pub/fedora/linux/releases/41/Cloud/aarch64/images/Fedora-Cloud-Base-Generic-41-1.4.aarch64.qcow2'
    arch: 'aarch64'
    digest: 'sha256:085883b42c7e3b980e366a1fe006cd0ff15877f7e6e984426f3c6c67c7cc2faa'

mounts:
  - location: '~'
  - location: /tmp/lima
    writable: true

mountTypesUnsupported: [9p]

memory: 4GiB
disk: 100GiB

rosetta:
  enabled: true
  binfmt: true

networks:
  - vzNAT: true

audio:
  device: vz

# Enabling video causes a GUI window to show up

portForwards:
  # from template://podman
  - guestSocket: '/run/user/{{.UID}}/podman/podman.sock'
    hostSocket: '{{.Dir}}/sock/podman.sock'
  # from template://buildkit
  - guestSocket: '/run/user/{{.UID}}/buildkit-default/buildkitd.sock'
    hostSocket: '{{.Dir}}/sock/buildkitd.sock'

  # Host's 1Password SSH agent
  # Turning on `ssh.forwardAgent` generally doesn't forward this
  - guestSocket: '/run/user/{{.UID}}/host-services/op-ssh.sock'
    hostSocket: '{{.Home}}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock'
    reverse: true

# Don't configure the user's shell in here, it stops lima from ever initializing

upgradePackages: true
provision:
  - mode: system
    script: |
      #!/bin/bash
      set -eux -o pipefail
      command -v ansible >/dev/null 2>&1 && exit 0
      dnf install -y ansible

  - mode: ansible
    playbook: '# {{ joinPath .chezmoi.targetFile ".." "playbook.yaml" }}'

probes:
  - description: ansible
    script: |
      #!/bin/bash
      set -eux -o pipefail
      if ! timeout 30s bash -c "until command -v ansible >/dev/null 2>&1; do sleep 3; done"; then
        echo >&2 "ansible is not installed yet"
        exit 1
      fi
