rules:
  # {{ $fakehome := "/run/user" .chezmoi.uid "fakehome" }}
  - name: Fake home directory
    target: '~'
    rewrite: '{{ $fakehome }}'

  - name: Redirect ~/.degit to ~/.cache/degit
    target: '{{ joinPath $fakehome ".degit" }}'
    rewrite: ~/.cache/degit

  - name: Redirect ~/.giget to ~/.cache/giget
    target: '{{ joinPath $fakehome ".giget" }}'
    rewrite: ~/.cache/giget
