# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if all (eq .chezmoi.os "linux") (lookPath "grc") }}
function stat
    set -l cmd stat
    if isatty stdout
        command -qs grc && set -p cmd grc
    end
    command $cmd $argv
end
# {{- else if all (eq .chezmoi.os "darwin") (lookPath "ustat") (lookPath "grc") }}
function stat
    if isatty stdout
        command grc -c conf.stat ustat $argv
    else
        command stat $argv
    end
end
# {{- else }}
function stat
    command stat $argv
end
# {{- end }}
