{{ if eq .chezmoi.os "darwin" }}
Include {{ joinPath .chezmoi.homeDir ".config/colima/ssh_config" }}
{{ end }}

# Security
StrictHostKeyChecking accept-new

Host *
	IgnoreUnknown UseKeychain
	UseKeychain yes

Include config.d/1password-{{ .chezmoi.os }}
