# {{ if ne (lookPath "vrc-get") "" }}
# vrc-get hash: {{ include (joinPath .pkg.scoop.apps "vrc-get/current/vrc-get.exe") | sha256sum }}
vrc-get completion powershell > ~\Documents\PowerShell\Modules\Burner.Completions\Scripts\vrc-get.ps1
# {{ end }}
