# {{ if ne (lookPath "tailscale") "" }}
# tailscale hash: {{ include (lookPath "tailscale") | sha256sum }}
tailscale completion powershell > ~\Documents\PowerShell\Modules\Burner.Completions\Scripts\tailscale.ps1
# {{ end }}
