# Set up windows environment

using namespace System

$target = [EnvironmentVariableTarget]::User

# Minimize the use of %Variable% expansions. Programs won't reliably pick them up.
[Environment]::SetEnvironmentVariable("DOCKER_CONFIG", "$env:UserProfile\.config\docker", $target)
[Environment]::SetEnvironmentVariable("FLY_CONFIG_DIR", "$env:UserProfile\.config\fly", $target)
[Environment]::SetEnvironmentVariable("MINIKUBE_HOME", "$env:UserProfile\.local\share\minikube", $target)
[Environment]::SetEnvironmentVariable("OMNISHARPHOME", "$env:LocalAppData\dotfiles\OmniSharp", $target)
[Environment]::SetEnvironmentVariable("SONARLINT_USER_HOME", "$env:Temp\sonarlint", $target)
