# {{ if ne (lookPath "zola") "" }}
# zola hash: {{ include (joinPath .pkg.scoop.apps "zola/current/zola.exe") | sha256sum }}
zola completion powershell > ~\Documents\PowerShell\Modules\Burner.Completions\Scripts\zola.ps1
# {{ end }}
