# {{ if ne (lookPath "ruff") "" }}
# ruff hash: {{ include (joinPath .pkg.scoop.apps "ruff/current/ruff.exe") | sha256sum }}
ruff generate-shell-completion powershell > ~\Documents\PowerShell\Modules\Burner.Completions\Scripts\ruff.ps1
# {{ end }}
