# Winget Manifest hash: {{ include "../assets/winget.json" | sha256sum }}
$Script:WingetManifest = '{{ joinPath .chezmoi.sourceDir "../assets/winget.json" }}'

winget import --no-upgrade --import-file $Script:WingetManifest
