# yaml-language-server: $schema=https://carapace.sh/schemas/command.json
name: ansible-doc
description: Ansible plugin documentation tool
parsing: disabled
completion:
  positionalany:
    - '
      {{- if eq .chezmoi.os "linux" -}}
      $carapace.bridge.Argcomplete([ansible-doc])
      {{- else -}}
      $carapace.bridge.Inshellisense([ansible-doc])
      {{- end -}}
      '
