# yaml-language-server: $schema=https://carapace.sh/schemas/command.json
name: ansible-galaxy
description: Perform various Role and Collection related operations
parsing: disabled
completion:
  positionalany:
    - '
      {{- if eq .chezmoi.os "linux" -}}
      $carapace.bridge.Argcomplete([ansible-galaxy])
      {{- else -}}
      $carapace.bridge.Inshellisense([ansible-galaxy])
      {{- end -}}
      '
