# yaml-language-server: $schema=https://carapace.sh/schemas/command.json
name: dscacheutil
description: gather information, statistics and initiate queries to the Directory Service cache
parsing: disabled
completion:
  positionalany:
    - '
      {{- if lookPath "inshellisense" -}}
      $carapace.bridge.Inshellisense([dscacheutil])
      {{- else -}}
      $carapace.bridge.Fish([dscacheutil])
      {{- end -}}
      '
