# yaml-language-server: $schema=https://carapace.sh/schemas/command.json
name: softwareupdate
description: system software update tool
parsing: disabled
completion:
  positionalany:
    - '
      {{- if lookPath "inshellisense" -}}
      $carapace.bridge.Inshellisense([softwareupdate])
      {{- else -}}
      $carapace.bridge.Zsh([softwareupdate])
      {{- end -}}
      '
