# {{ if eq .chezmoi.os "linux" }}
.local/share/flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/current/bin/mise:
  type: file
  url: https://mise.jdx.dev/mise-latest-linux-x64
  refreshPeriod: 48h
  executable: true
  readonly: true
# {{ end }}
