# {{ if eq .chezmoi.os "linux" }}
# {{ $nerdFontsVersion := "3.2.1" }}

# Refresh periods are very long in this. This is both because some things are
# manually updated, and because fonts just don't require frequent updates.

.local/share/fonts/nerd-font-symbols:
  type: archive
  url: 'https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ $nerdFontsVersion }}/NerdFontsSymbolsOnly.zip'
  exact: true
  refreshPeriod: 8766h
  include: ['*.ttf', '*.otf']

# This one *could* be done with automatic updates, but the monaspace repo is really big
.local/share/fonts/monaspace:
  type: archive
  url: 'https://github.com/githubnext/monaspace/releases/download/v1.101/monaspace-v1.101.zip'
  exact: true
  refreshPeriod: 8766h
  stripComponents: 3
  include:
    - monaspace-*/fonts/otf/*.otf
    - monaspace-*/fonts/variable/*.ttf
# {{ end }}
