# {{ if ne .chezmoi.os "windows" }}

.config/zsh/functions/async:
  type: file
  url: https://github.com/mafredri/zsh-async/raw/refs/heads/main/async.zsh
  refreshPeriod: 744h
  readonly: true

.config/zsh/plugins/fast-syntax-highlighting:
  type: archive
  url: https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz
  exact: true
  stripComponents: 1
  refreshPeriod: 744h
  exclude:
    - '*/.github'
    - '*/.gitignore'
    - '*/.zunit.yml'
    - '*/images'
    - '*/test'
    - '*/tests'
    - '**/*.adoc'

.config/zsh/plugins/zsh-autopair:
  type: archive
  url: https://github.com/hlissner/zsh-autopair/archive/master.tar.gz
  exact: true
  stripComponents: 1
  refreshPeriod: 744h
  include: ['*/zsh-autopair.plugin.zsh', '*/autopair.zsh', '*/*.md']

.config/zsh/plugins/zsh-autosuggestions:
  type: archive
  url: https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz
  exact: true
  stripComponents: 1
  refreshPeriod: 744h
  include: ['*/*.zsh', '*/*.md']

.config/zsh/plugins/zsh-history-substring-search:
  type: archive
  url: https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz
  exact: true
  stripComponents: 1
  refreshPeriod: 744h
  include: ['*/*.zsh', '*/*.md']

.config/zsh/vendor/oh-my-zsh:
  type: archive
  url: https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz
  exact: true
  stripComponents: 1
  refreshPeriod: 168h
  include:
    - '*/plugins'
    - '*/plugins/command-not-found/**'
    - '*/plugins/iterm2/**'
    - '*/plugins/mise/**'
    - '*/plugins/starship/**'
    - '*/plugins/zoxide/**'
    - '*/plugins/thefuck/**'

.config/zsh/vendor/zsh-completions:
  type: archive
  url: https://github.com/zsh-users/zsh-completions/archive/master.tar.gz
  exact: true
  stripComponents: 1
  refreshPeriod: 744h
  include:
    - '*/src'
    - '*/src/_archlinux-java'
    - '*/src/_bower'
    - '*/src/_ccache'
    - '*/src/_cf'
    - '*/src/_cmake'
    - '*/src/_emacs'
    - '*/src/_fab'
    - '*/src/_fail2ban-client'
    - '*/src/_gtk-launch'
    - '*/src/_openssl'
    - '*/src/_port'
    - '*/src/_pygmentize'
    - '*/src/_rspec'
    - '*/src/_rubocop'
    - '*/src/_setup.py'
    - '*/src/_shellcheck'
# {{ end }}
