# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if lookPath "git-lfs" -}}
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
# {{ end -}}
