# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if isExecutable "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" -}}
[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC2pNuOStlSIa0mcKBUg0nkrLCMSTscboEnM7Vvoq4XG
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
# {{ end -}}
