# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- $op_ssh := joinPath "/mnt/c/Users" .chezmoi.username "AppData/Local/1Password/app/8/op-ssh-sign.exe" -}}
# {{ if and .device.wsl (isExecutable $op_ssh) -}}
[core]
    sshCommand = ssh.exe
[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC2pNuOStlSIa0mcKBUg0nkrLCMSTscboEnM7Vvoq4XG
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = # {{ $op_ssh }}
# {{ end -}}
