[credential "https://github.com"]
    helper = 
    helper = !{{lookPath "gh" | quote}} auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !{{lookPath "gh" | quote}} auth git-credential
