# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if ne .chezmoi.hostname "surface-book" }}
# 1Password SSH Agent (Linux with my tweaked setup)
# Host *
#     IdentityAgent # {{ joinPath (env "XDG_RUNTIME_DIR") "1password/agent.sock" }}
# Normal 1Password SSH agent setup
Host *
    IdentityAgent ~/.1password/agent.sock
# vim: ft=sshconfig
# {{ end }}
