# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if or (lookPath "systemd-tmpfiles") (lookPath "sd-tmpfiles") -}}
#!/usr/bin/env bash

# user tempfiles hashes: # {{ range (glob (joinPath .chezmoi.sourceDir "dot_config/exact_user-tmpfiles.d/*.conf")) }}
#   # {{ . }}: # {{ include . | sha256sum }} # {{ end }}

# {{   if lookPath "systemd-tmpfiles" -}}
systemd-tmpfiles --user --create
# {{-   else if lookPath "sd-tmpfiles" -}}
sd-tmpfiles --user --create
# {{-   end  }}
# {{  end -}}
