#!/usr/bin/env bash

# user tempfiles hashes: {{ range (glob (joinPath .chezmoi.sourceDir "dot_config/exact_user-tmpfiles.d/*.conf")) }}
#   {{ . }}: {{ include . | sha256sum }} {{ end }}

systemd-tmpfiles --user --create
