# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- $playbook := joinPath .chezmoi.sourceDir "../playbooks" (printf "device-%s.yml" .devicename) -}}
# {{- if and (lookPath "ansible-playbook") (stat $playbook) -}}
#!/usr/bin/env bash

set -eu -o pipefail

# playbook hash: # {{ include $playbook | sha256sum }}

export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export ANSIBLE_CONFIG="${ANSIBLE_CONFIG:-$XDG_CONFIG_HOME/ansible.cfg}"

# shellcheck disable=SC2154
ansible-playbook --ask-become-pass "# {{ $playbook }}"

# {{ end -}}
