# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if not .ephemeral -}}
#!/usr/bin/env bash
set -eu -o pipefail

# Installs ansible

command -v ansible >/dev/null 2>&1 && exit 0

# shellcheck disable=SC2194
case '# {{ .osid }}' in
    linux-arch)
        sudo pacman -S --noconfirm ansible glibc-locales
        ;;
    linux-fedora)
        sudo dnf install -y ansible
        ;;
    linux-ubuntu)
        sudo apt install -y ansible
        ;;
    *)
        echo "ansible install method not defined"
        ;;
esac
# {{ end -}}
