# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if lookPath "update-mime-database" -}}
#!/usr/bin/env bash

# mime package hashes: # {{ range (glob (joinPath .xdg.data "mime/packages/*.xml")) }}
#   # {{ . }}: # {{ include . | sha256sum }} # {{ end }}

update-mime-database "# {{ .xdg.data }}/mime"
# {{ end -}}
