# {{ if lookPath "uv" }}
# uv hash: {{ include (joinPath .pkg.scoop.apps "uv/current/uv.exe") | sha256sum }}
$Script:TargetPath = "{{ .chezmoi.targetFile }}"
uv generate-shell-completion powershell > $Script:TargetPath
# {{ end }}
