"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = """
$username\
$directory\
$vcsh\
$fossil_branch\
$fossil_metrics\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$pijul_channel\
$character\
"""
right_format = """$all"""

bun.disabled = true
nim.disabled = true
nix_shell.disabled = true
solidity.disabled = true

[aws]
# nf-md-cloud_outline - all the aws icons are too small
symbol = "󰅣 "

[azure]
# nf-cod-azure - looks better than nf-md-microsoft_azure
symbol = " "

[battery]
full_symbol = "󰁹 "
charging_symbol = "󰂅 "
discharging_symbol = "󰂍 "
unknown_symbol = "󰂑 "
empty_symbol = "󰂎 "

[buf]
# nf-oct-bold
symbol = " "

[c]
# nf-custom-c
symbol = " "

[cmake]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[conda]
# nf-fa-circle_o
symbol = " "

[crystal]
# nf-custom-crystal
symbol = " "
version_format = "${raw}"
detect_files = ["shard.yml", ".crystal-version"]
format = "[$symbol($version )]($style)"

[daml]
disabled = true

[dart]
# nf-dev-dart - not very clear at term size
symbol = " "
version_format = "${raw}"
style = "bold fg:#3392e2 bg:#15314b"
format = "[[](#15314b)$symbol($version)]($style)[](#15314b) "

[deno]
symbol = " "
style = "bold fg:#00e37d bg:#0d482b"
version_format = "${raw}"
format = "[[](#0d482b)$symbol($version)]($style)[](#0d482b) "

[directory]
read_only = " 󰌾"
fish_style_pwd_dir_length = 1
truncation_symbol = '…/'

[docker_context]
symbol = "󰡨 "
style = "bold fg:#2496ed bg:#1a3955"
format = "[[](#1a3955)$symbol$context]($style)[](#1a3955) "

[dotnet]
symbol = " "
version_format = "${raw}"
style = "bold fg:#3287c4 bg:#0e0e0e"
format = "[[](#0e0e0e)$symbol($version)( 󰓾 $tfm)]($style)[](#0e0e0e) "

[elixir]
# nf-fae-drop
# nf-custom-elixir could probably work too - 
symbol = " "
detect_files = ["mix.exs", ".exenv-version"]

[elm]
# nf-seti-elm (same as nf-custom-elm)
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[env_var.FLATPAK_ID]
symbol = " "
format = "[$symbol$env_value]($style) "
description = "The flatpak indicator, if inside a flatpak"

[fennel]
# nf-custom-fennel
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[fossil_branch]
symbol = " "

[gcloud]
# nf-md-google_cloud
symbol = "󱇶 "

[git_branch]
symbol = " "
style = "fg:#c5a4f2 bg:#212121"
format = "[[](#212121)$symbol$branch(:$remote_branch)]($style)[](#212121) "

[git_metrics]
disabled = false

[gleam]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[golang]
symbol = "󰟓 "
version_format = "${raw}"
style = "bold fg:#72d5f9 bg:#144454"
format = "[[](#144454)$symbol($version)( $mod_version)]($style)[](#144454) "

[gradle]
# nf-seti-gradle
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[guix_shell]
# nf-linux-gnu_guix
symbol = " "

[haskell]
# nf-seti-haskell - biggest haskell icon
symbol = " "

[haxe]
# nf-seti-haxe
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[helm]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[hostname]
ssh_symbol = " "

[hg_branch]
symbol = " "

[java]
# nf-fae-java - biggest java icon
# nf-dev-java and nf-md-language_java are too small
# nf-seti-java is just a big J
symbol = " "
detect_files = [
  "pom.xml",
  "build.gradle.kts",
  "build.sbt",
  ".java-version",
  "deps.edn",
  "project.clj",
  "build.boot",
  ".sdkmanrc",
  "mvnvm.properties", # From mise plugin
]
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[julia]
# nf-seti-julia
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[kotlin]
# nf-seti-kotlin - all the kotlin icons look the same
symbol = " "
version_format = "${raw}"
style = "bold fg:#916fff bg:#251651"
format = "[[](#251651)$symbol($version)]($style)[](#251651) "

[kubernetes]
# nf-md-kubernetes - the only kubernetes icon
symbol = "󱃾 "

[lua]
symbol = " "
version_format = "${major}.${minor}"
style = "bold fg:#bbc2ff bg:#211a65"
format = "[[](#211a65)$symbol($version)]($style)[](#211a65) "
detect_files = [".lua-version", ".luarc.json", "!systemctl"]
detect_extensions = ["lua", "rockspec"]

[memory_usage]
# nf-md-memory
symbol = "󰍛 "

[meson]
# nf-md-triangle_outline
symbol = "󰔷 "

[nodejs]
symbol = "󰎙 "
style = "bold fg:#42e66c bg:#00430d"
version_format = "${major}"
format = "[[](#00430d)$symbol($version( $engines_version))]($style)[](#00430d) "

[ocaml]
# nf-seti-ocaml - the only ocaml icon
symbol = " "

[os]
disabled = false

[os.symbols]
AlmaLinux = " "
Alpaquita = " "
Alpine = "[ ](#0D597F)"
Amazon = " "
Android = "[ ](#34A853)"
Arch = "[ ](#1793D1)"
Artix = "[ ](#10A0CC)"
CentOS = "[ ](#262577)"
Debian = "[ ](#A81D33)"
DragonFly = " "
Emscripten = " "
EndeavourOS = "[ ](#7F7FFF)"
Fedora = "[ ](#51A2DA)"
FreeBSD = "[ ](#AB2B28)"
Garuda = " "
Gentoo = "[ ](#54487A)"
HardenedBSD = "󰞌 "
Illumos = " "
Kali = "[ ](#557C94)"
Linux = " "
Mabox = " "
Macos = " "
Manjaro = "[ ](#35BF5C)"
Mariner = " "
MidnightBSD = " "
Mint = "[ ](#86BE43)"
NetBSD = "[ ](#FF6600)"
NixOS = "[ ](#5277C3)"
OpenBSD = "[󰈺 ](#F2CA30)"
openSUSE = "[ ](#73BA25)"
OracleLinux = "󰌷 "
Pop = "[ ](#48B9C7)"
Raspbian = " "
Redhat = "[ ](#EE0000)"
RedHatEnterprise = "[ ](#EE0000)"
Redox = "󰀘 "
RockyLinux = "[ ](#10B981)"
Solus = "[ ](#5294E2)"
SUSE = "[ ](#0C322C)"
Ubuntu = "[ ](#E95420)"
Unknown = " "
Void = "[ ](#478061)"
Windows = "󰍲 "

[package]
# nf-oct-package - big and readable
# was suggested nf-md-package_variant_closed but it's too complex
symbol = " "
version_format = "${raw}"

[perl]
# nf-seti-perl - the only perl icon
symbol = " "
version_format = "${raw}"
detect_files = [
  "Makefile.PL",
  "Build.PL",
  "cpanfile",
  "cpanfile.snapshot",
  "META.json",
  "META.yml",
  ".perl-version",
  "!brew",             # Don't show in brew prefix
  "!xdg-open",         # Shows up in /usr/bin in freedesktop runtime
]
format = "[$symbol($version )]($style)"

[php]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[pijul_channel]
symbol = " "

[purescript]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[python]
symbol = " "
version_format = "${major}.${minor}"
detect_files = [
  "requirements.txt",
  ".python-version",
  ".python-versions", # from mise
  "pyproject.toml",
  "Pipfile",
  "tox.ini",
  "setup.py",
  "__init__.py",
  "pixi.toml",
  "uv.toml",
  "uv.lock",
  ".poetry-version",  # from mise plugin
  "poetry.lock",
  "!brew",            # Don't show in brew prefix
  "!systemctl",       # Don't show in /usr/bin
]
style = "bold fg:#e4f34a bg:#3d420d"
format = '[[](#3d420d)${symbol}${pyenv_prefix}(${version})( \($virtualenv\))]($style)[](#3d420d) '

[raku]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version-$vm_version )]($style)"

[red]
symbol = "󰔶 "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[rlang]
# nf-seti-r - slightly bigger than nf-md-language_r
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[ruby]
symbol = "󰴭 "
version_format = "${raw}"
detect_variables = ["RUBY_VERSION", "RBENV_VERSION", "MISE_RUBY_VERSION"]
style = "bold fg:#e64747 bg:#2f0c0b"
format = "[[](#2f0c0b)$symbol($version)]($style)[](#2f0c0b) "

[rust]
symbol = " "
version_format = "${raw}"
style = "bold fg:#f19e2e bg:#2e1b10"
format = "[[](#2e1b10)$symbol($version)]($style)[](#2e1b10) "

[shell]
disabled = true

[swift]
symbol = " "
version_format = "${raw}"
style = "bold fg:#f05237 bg:#190806"
format = "[[](#190806)$symbol($version)]($style)[](#190806) "

[terraform]
# nf-md-terraform
symbol = "󱁢 "
detect_files = [".terraform-version", ".packer-version"]

[typst]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[username]
show_always = true

[vagrant]
symbol = " "
version_format = "${raw}"
style = "bold fg:#2b7dff bg:#16305e"
format = "[[](#16305e)$symbol($version)]($style)[](#16305e) "

[vlang]
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"

[zig]
# nf-seti-zig - the only zig icon
symbol = " "
version_format = "${raw}"
format = "[$symbol($version )]($style)"
