<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>io.podman_desktop.PodmanDesktop</string>
        <key>EnvironmentVariables</key>
        <dict>
            <!-- {{range $key, $value := .settings.launchd.environment}} -->
            <key>{{$key}}</key>
            <string>{{expandenv $value}}</string>
            <!-- {{end}} -->
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/Applications/Podman Desktop.app/Contents/MacOS/Podman Desktop</string>
            <string>--minimize</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>StandardOutPath</key>
        <string>{{joinPath .chezmoi.homeDir "Library/Logs/Podman Desktop/launchd-stdout.log"}}</string>
        <key>StandardErrorPath</key>
        <string>{{joinPath .chezmoi.homeDir "Library/Logs/Podman Desktop/launchd-stderr.log"}}</string>
    </dict>
</plist>
