HOMEBREW_BAT=1
HOMEBREW_NO_INSECURE_REDIRECT=1
HOMEBREW_CLEANUP_MAX_AGE_DAYS=30
# Improves performance by roughly 100ms
# Not a massive boost, especially on the longest commands like `brew services`
# But better than nothing, and the only downside is generating some gem dotfiles on setup
HOMEBREW_BOOTSNAP=1
# Config file meant to force brew to use a more up-to-date version of less
HOMEBREW_BAT_CONFIG_PATH={{ .xdg.config }}/homebrew/config/bat
HOMEBREW_FORBIDDEN_CASKS={{ .homebrew.forbiddden.cask | compact | join " " }}
HOMEBREW_FORBIDDEN_FORMULAE={{ .homebrew.forbiddden.formula | compact | join " " }}
# {{ if ne (lookPath "gh") "" }}
HOMEBREW_VERIFY_ATTESTATIONS=1
# {{ end }}
