# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{ if .device.lima -}}
d   %t/host-services    0700  -     -     -   -

L+  %h/.config/bat              -   -   -   -   /Users/%u/.config/bat
L+  %h/.config/bottom           -   -   -   -   /Users/%u/.config/bottom
L+  %h/.config/carapace         -   -   -   -   /Users/%u/.config/carapace
L+  %h/.config/eza              -   -   -   -   /Users/%u/.config/eza
L+  %h/.config/fastfetch        -   -   -   -   /Users/%u/.config/fastfetch
L+  %h/.config/fd               -   -   -   -   /Users/%u/.config/fd
L+  %h/.config/fish/completions -   -   -   -   /Users/%u/.config/fish/completions
L+  %h/.config/glow             -   -   -   -   /Users/%u/.config/glow
L+  %h/.config/rainbow          -   -   -   -   /Users/%u/.config/rainbow
L+  %h/.config/readline         -   -   -   -   /Users/%u/.config/readline
L+  %h/.config/starship.toml    -   -   -   -   /Users/%u/.config/starship.toml
L+  %h/.config/vivid            -   -   -   -   /Users/%u/.config/vivid
L+  %h/.config/zsh/functions    -   -   -   -   /Users/%u/.config/zsh/functions
L+  %h/.config/zsh/plugins      -   -   -   -   /Users/%u/.config/zsh/plugins
L+  %h/.config/zsh/vendor       -   -   -   -   /Users/%u/.config/zsh/vendor

# {{ end -}}
