HOMEBREW_NO_INSECURE_REDIRECT=1

# Attempt to force brew to use the correct cache directory
HOMEBREW_BUNDLE_USER_CACHE={{ joinPath .xdg.cache "bundle" }}

{{- if eq .chezmoi.os "darwin" }}
# Use the more recent version of curl from brew
HOMEBREW_FORCE_BREWED_CURL=1
{{- end }}

# Clean up files more frequently
HOMEBREW_CLEANUP_MAX_AGE_DAYS=30
HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS=6

# Improves performance by roughly 100ms
# Not a massive boost, especially on the longest commands like `brew services`
# But better than nothing, and the only downside is generating some gem dotfiles on setup
HOMEBREW_BOOTSNAP=1

{{- if eq .chezmoi.os "darwin" }}
# Use bat for `brew cat`
# Config file meant to force brew to use a more up-to-date version of less
HOMEBREW_BAT=1
HOMEBREW_BAT_CONFIG_PATH={{ joinPath .xdg.config "homebrew/config/bat" }}
{{- end }}

# Block some casks and formulae from being installed
{{- $forbid := .settings.homebrew.forbiddden }}
{{- $forbidFormulae := $forbid.formula }}
{{- if and (eq .chezmoi.os "linux") (ne .devicename "surface-book") }}
{{-   $forbidFormulae = concat $forbidFormulae $forbid.linux }}
{{- end }}
HOMEBREW_FORBIDDEN_CASKS={{ $forbid.cask | sortAlpha | compact | join " " }}
HOMEBREW_FORBIDDEN_FORMULAE={{ $forbidFormulae | sortAlpha | compact | join " " }}
HOMEBREW_FORBIDDEN_TAPS={{ $forbid.tap | sortAlpha | compact | join " " }}

# Verify the authenticity of things before installing them 
{{- if lookPath "gh" }}
HOMEBREW_VERIFY_ATTESTATIONS=1
{{- end }}

# Use a better livecheck watchlist file path
HOMEBREW_LIVECHECK_WATCHLIST={{ joinPath .xdg.config "homebrew/livecheck_watchlist.txt" }}

# Use xdg global brewfile
HOMEBREW_BUNDLE_FILE_GLOBAL={{ joinPath .xdg.config "homebrew/Brewfile" }}

HOMEBREW_BUNDLE_DUMP_NO_VSCODE=1
HOMEBREW_BUNDLE_DUMP_NO_GO=1
HOMEBREW_BUNDLE_DUMP_NO_CARGO=1
HOMEBREW_BUNDLE_DUMP_NO_FLATPAK=1

HOMEBREW_DOWNLOAD_CONCURRENCY=auto
# HOMEBREW_USE_INTERNAL_API=1
