[Unit]
Description=atuin daemon service
Requires=atuin-daemon.socket
After=atuin-daemon.socket

[Service]
ExecStart=/home/burner/.local/bin/atuin daemon

RuntimeDirectory=atuin
RuntimeDirectoryMode=0700
ConfigurationDirectory=atuin
ConfigurationDirectoryMode=700

# Sandboxing is currently very limited for user services
# Don't use CapabilityBoundingSet, it reliably causes the service to crash

RestrictRealtime=on

SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap
