[Unit]
Description=atuin daemon
Requires=atuin.socket
After=atuin.socket

[Service]
ExecStart=%h/.local/bin/atuin daemon

RuntimeDirectory=atuin
RuntimeDirectoryMode=0700
ConfigurationDirectory=atuin
ConfigurationDirectoryMode=700

# Preliminary work on setting ProtectHome
ReadWritePaths=%D/atuin
# This needs to change if my homebrew setup changes
ReadOnlyPaths=%h/.var/lib/homebrew

# Common sandboxing
NoNewPrivileges=on
RestrictNamespaces=on
LockPersonality=on
RestrictRealtime=on

SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap

PrivateUsers=on

# Requires unpriviliged user namespaces
ProtectClock=on
ProtectKernelLogs=on
ProtectKernelModules=on
ProtectHostname=on
ProtectKernelTunables=on
PrivateDevices=on
PrivateTmp=on
CapabilityBoundingSet=~CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet=~CAP_BPF
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_SYS_CHROOT
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_SYS_PTRACE

[Install]
Also=atuin.socket
