[Unit]
Description=atuin daemon
Requires=atuin.socket
After=atuin.socket

[Service]
ExecStart=%D/homebrew/opt/atuin/bin/atuin daemon

# Resource limits
TasksMax=32

RuntimeDirectory=atuin
RuntimeDirectoryMode=0700
ConfigurationDirectory=atuin
ConfigurationDirectoryMode=0700

ReadWritePaths=%D/atuin
# This needs to change if my homebrew setup changes
ReadOnlyPaths=%D/homebrew/opt/atuin
ReadOnlyPaths=%D/homebrew/Cellar/atuin

TemporaryFileSystem=%E
TemporaryFileSystem=%C

InaccessiblePaths=-%D/Trash
InaccessiblePaths=-%D/evolution
InaccessiblePaths=-%D/gnome-remote-desktop
InaccessiblePaths=-%D/gnupg
InaccessiblePaths=-%D/gvfs-metadata
InaccessiblePaths=-%D/keyrings
InaccessiblePaths=-%D/minikube
InaccessiblePaths=-%h/.1password
InaccessiblePaths=-%h/.ssh
InaccessiblePaths=-%h/.var
InaccessiblePaths=-%h/Applications
InaccessiblePaths=-%h/Documents
InaccessiblePaths=-%h/Downloads
InaccessiblePaths=-%h/Pictures
InaccessiblePaths=-%h/Projects
InaccessiblePaths=-%h/Vaults
InaccessiblePaths=-%h/Videos
InaccessiblePaths=-%t/doc
InaccessiblePaths=-%t/fakehome
InaccessiblePaths=-%t/gvfs
InaccessiblePaths=-/boot


# Exposure level: 2.7 (systemd 256)

# Common sandboxing
NoNewPrivileges=on
RestrictNamespaces=on
LockPersonality=on
RestrictRealtime=on

SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap

PrivateUsers=on

# Requires unpriviliged user namespaces
ProtectClock=on
ProtectKernelLogs=on
ProtectKernelModules=on
ProtectHostname=on
ProtectKernelTunables=on
PrivateDevices=on
PrivateTmp=on
CapabilityBoundingSet=

ProtectSystem=strict
# Setting this to true causes crashes
ProtectHome=read-only
UMask=0077

[Install]
Also=atuin.socket
