[Unit]
Description=Brew Automatic Update
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.var/lib/homebrew/bin/brew update --auto-update

Environment=HOMEBREW_PREFIX=%h/.var/lib/homebrew
Environment=HOMEBREW_CELLAR=%h/.var/lib/homebrew/Cellar
Environment=HOMEBREW_REPOSITORY=%h/.var/lib/homebrew

Environment=HOMEBREW_NO_INSECURE_REDIRECT=1

# Exposure level: 5.6 (systemd 256)

NoNewPrivileges=on
RestrictNamespaces=on
LockPersonality=on
RestrictRealtime=on

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources

# SystemCallFilter=~@privileged

ProtectClock=on
ProtectKernelLogs=on
ProtectKernelModules=on
ProtectKernelTunables=on
ProtectHostname=on
PrivateTmp=on
