[Unit]
Description=Brew Automatic Update
After=network.target

[Service]
Type=oneshot
ExecStart=%D/homebrew/bin/brew update --auto-update

Environment=HOMEBREW_PREFIX=%D/homebrew
Environment=HOMEBREW_CELLAR=%D/homebrew/Cellar
Environment=HOMEBREW_REPOSITORY=%D/homebrew

Environment=HOMEBREW_NO_INSECURE_REDIRECT=1

# Exposure level: 5.6 (systemd 256)

NoNewPrivileges=on
RestrictNamespaces=on
LockPersonality=on
RestrictRealtime=on

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources

# SystemCallFilter=~@privileged

ProtectClock=on
ProtectKernelLogs=on
ProtectKernelModules=on
ProtectKernelTunables=on
ProtectHostname=on
PrivateTmp=on
