[Unit]
Description=dnf makecache

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/dnf makecache

CacheDirectory=libdnf5

# Exposure level: 4.6 (systemd 256)

# Common sandboxing
NoNewPrivileges=on
RestrictNamespaces=on
LockPersonality=on
RestrictRealtime=on

SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap

# Requires unpriviliged user namespaces
ProtectClock=on
ProtectKernelLogs=on
ProtectKernelModules=on
ProtectHostname=on
ProtectKernelTunables=on
PrivateDevices=on
PrivateTmp=on
CapabilityBoundingSet=~CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet=~CAP_BPF
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_SYS_CHROOT
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_SYS_PTRACE

[Install]
Also=dnf-makecache.timer
