abbr -a al la
abbr -a cls clear
abbr -a sl ls
abbr -a l ls
abbr -a dc cd
abbr -a xopen open
abbr -a cmd command
abbr -a . source
abbr -a fn function
abbr -a fns functions
abbr -a fnsv funcsave
abbr -a fun function
abbr -a func function
abbr -a loop 'while true'

{{- if lookPath "doggo" }}
abbr -a dog doggo
{{- end }}
{{- if lookPath "eza" }}
abbr -a exa eza
{{- end }}
{{- if lookPath "lima" }}
abbr -a ligma lima
{{- end }}
{{- if lookPath "delta" }}
abbr -a diff delta
{{- end }}
{{- if lookPath "bat" }}
abbr -a cat bat
abbr -a batp 'bat -p'
{{- end }}
{{- if lookPath "fd" }}
abbr -a find fd
{{- end }}
{{- if lookPath "rg" }}
abbr -a grep rg
{{- end }}
{{- if lookPath "nvim" }}
abbr -a vi nvim
abbr -a vim nvim
{{- end }}
{{- if lookPath "gallery-dl" }}
abbr -a gdl gallery-dl
{{- end }}
{{- if lookPath "yt-dlp" }}
abbr -a ydl yt-dlp
abbr -a ydlmp3 'yt-dlp -x --audio-format mp3'
{{- end }}
{{- if lookPath "uv" }}
abbr -a pipx 'uv tool'
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Linux abbreviations
abbr -a pbcopy wl-copy
abbr -a wlcp wl-copy
abbr -a xcp wl-copy
abbr -a pbpaste wl-paste
abbr -a wlp wl-paste
{{- if lookPath "rpm" }}
abbr -a rpmq 'rpm -q'
{{- end }}
{{- if lookPath "dnf" }}
abbr -a yum dnf
{{- end }}
{{- else if eq .chezmoi.os "darwin" }}
# Mac OS abbreviations
abbr -a wl-copy pbcopy
abbr -a wlcp pbcopy
abbr -a wl-paste pbpaste
abbr -a wlp pbpaste
{{- end }}

# Complex abbreviations
abbr -a !! --position anywhere --function _last_history_item
abbr -a dotdot --regex '^\.\.+$' --function _multicd
