[tools]
lefthook = "latest"
stylua = "latest"
ruff = "latest"
taplo = "latest"
gitleaks = "latest"
ripsecrets = { version = "latest", os = ["linux", "macos"] }
node = "latest"
yamllint = "latest"
deno = "latest"
"github:VorpalBlade/chezmoi_modify_manager" = "latest"
tombi = "latest"
"github:google/keep-sorted" = "latest"

[tasks.apply]
run = "chezmoi apply"
description = "Apply dotfiles"
wait_for = ["format:*"]

[tasks.keep-sorted]
# xargs is needed to handle spaces in paths
run = "git grep -zlE 'keep-sorted (start|end)' | xargs -0 keep-sorted"
# I think this run_windows should work?
run_windows = '''
#!/usr/bin/env pwsh
keep-sorted $(git grep -lE 'keep-sorted (start|end)')
'''

[tasks.format]
depends = ["format:*"]
description = "Format code"

# Need to figure out how to add fish_indent to this, preferably in a way where
# fish doesn't need to be installed.

[tasks."format:prettier"]
run = "deno task format:prettier"
description = "Format code with Prettier"

[tasks."format:ruff"]
usage = '''
arg "[files]" var=#true
'''
run = "ruff format ${usage_files}"
description = "Format Python code with Ruff"

[tasks."format:stylua"]
run = "stylua --respect-ignores ."
description = "Format Lua code with StyLua"

[tasks."format:taplo"]
run = "taplo format"
description = "Format TOML files with Taplo"

[tasks."format:tombi"]
usage = '''
arg "[files]" var=#true
'''
run = "tombi format ${usage_files}"
description = "Format TOML files with Tombi"
wait_for = ["format:taplo"]

# This task could be removed once there's a URL I can feasibly use for Lima's Schema
[tasks."generate:lima-schema"]
run = "limactl generate-jsonschema > schemas/vendor/lima.json"
description = "Generate JSON schema for lima.yaml files"

[tasks.install]
depends = ["install:*"]
description = "Install project dependencies"

[tasks."install:lefthook"]
run = "lefthook install"
description = "Install git hooks for lefthook"
sources = ["lefthook.*", "lefthook-local.*"]
outputs = [".git/hooks/*"]

[tasks."install:npm"]
run = "deno install"
description = "Install npm packages with deno"

[tasks.lint]
depends = ["lint:*"]
description = "Lint code"

[tasks."lint:gitleaks"]
run = "gitleaks git --no-banner"
description = "Check git repo for secrets"

[tasks."lint:prettier"]
run = "deno task lint:prettier"
description = "Lint code formatting with Prettier"

[tasks."lint:ripsecrets"]
run = "ripsecrets --strict-ignore"
description = "Check git repo for secrets"

[tasks."lint:ruff"]
usage = '''
arg "[files]" var=#true
'''
run = "ruff check ${usage_files}"
description = "Lint Python code with Ruff"

[tasks."lint:stylua"]
run = "stylua --respect-ignores --check ."
description = "Lint Lua code formatting with StyLua"

[tasks."lint:taplo"]
run = "taplo lint"
description = "Lint TOML files with Taplo"

[tasks."lint:tombi"]
usage = '''
arg "[files]" var=#true
'''
run = "tombi lint ${usage_files}"
description = "Lint TOML files with Tombi"

[tasks."update:nvim-plugins"]
run = 'nvim --headless "+Lazy! sync" +qa'
description = "Update neovim plugins"
wait_for = ["apply"]

[tasks."update:package"]
run = "npm-check-updates --interactive"
description = "Update packages found in package.json"
tools = { "npm:npm-check-updates" = "latest" }
